
a,h2 {
  color: black;
}
a {
  text-decoration: underline;
}
a:hover {
  color: #395E22;
}

h2 {
font-size: 225%;
}

div.center .top {
  text-align: center;
}
div.top {
    position: relative; 
}

div.row {
  text-align: left;
}
body {
}
div {
}
div.spacer {
  height: 60px;
}
#go {
font-size: 150%;
margin-bottom 10px;
}
#god {
}


