img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
	img.bg {
		left: 50%;
		margin-left: -512px;   /* 50% */
	}
}
a, h2,h3 {
  color: black;
}
.home {
height: 35px;
}

div {
  position: relative;
}
div.spacer {
  height: 40px;
}

div.main {
  height: 50%;
  width: 50%;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  background-color:rgba(236, 236, 240, .8);
  padding: 30px, 60px, 20px, 60px;
}

div.sug {
  padding-top: 20px;
  padding-bottom: 30px;
}

div.btnrow {
  margin-top: 20px;
}


div.datarow {
  margin-top: 20px;
}

h2 {
  font-size: 25px;
  line-height: 30px;
}

#command {
text-decoration:underline;
}

div.bot {
  padding-top: 10px;
  float: right;
}
