<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beyond the corner</title>
    <link href="{{ STATIC_URL }}assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
   <!-- <script src="{{ STATIC_URL }}jquery-1.8.2.js"></script>
    <script src="{{ STATIC_URL }}jquery-ui-1.9.0.js"></script>
    -->
     <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
  </head>
<body>
  <img src="/static/bg.jpg" class="bg">
{% block content %}
{% endblock content %}
</body>
</html>
