{% extends 'base.html' %}
{% block content %}
<div class=center>
<div class=row>
  <div class='span6 offset1'>
    <h2> I WANT TO:</h2>
  </div>
</div>
<div class=row>
  <div class='span6 offset2'>
    <h2><a href="{{ outdoors.url }}">GO OUTDOORS</a></h2>
  </div>
</div>
<div class=row>
  <div class='span6 offset2'>
    <h2><a href="{{ entertain.url }}">BE ENTERTAINED</a></h2>
  </div>
</div>
<div class=row>
  <div class='span6 offset2'>
    <h2><a href="{{ food.url }}">EAT</a></h2>
  </div>
</div>
<div class=row>
  <div class='span6 offset2'>
    <h2><a href="{{ drink.url }}">GO DRINK</a></h2>
  </div>
</div>
<div class=row>
  <div class='span6 offset2'>
    <h2><a href="{{ rents.url }}">TAKE OUT THE RENTS</a></h2>
  </div>
</div>
<div class=row>
  <div class='span6 offset2'>
    <h2><a href="{{ volunteer.url }}">VOLUNTEER</a></h2>
  </div>
</div>
<div class=row>
  <div class='span6 offset2'>
    <h2><a href="{{ winter.url }}">NOTHING ITS COLD</a></h2>
  </div>
</div>
<div class=row>
  <div class='span6 offset2'>
    <h2><a href="{{ rand.url }}">YOU TELL ME</a></h2>
  </div>
</div>
</div>
{% endblock content %}
