{% extends 'base.html' %}
{% block content %}

<div class=spacer></div>
<div class="hero-unit main">
  <h1>I WANT TO...</h1>
  <p>GO BEYOND THE CORNER</p>
  <div class=row-fluid>
    <div class='span11 offset1 recs'>
      <h2><a href="{{ outdoors.url }}">GO OUTDOORS</a></h2>
    </div>
  </div>
  <div class=row-fluid>
    <div class='span11 offset1 recs'>
      <h2><a href="{{ entertain.url }}">BE ENTERTAINED</a></h2>
    </div>
  </div>
  <div class=row-fluid>
    <div class='span11 offset1 recs'>
      <h2><a href="{{ food.url }}">EAT</a></h2>
    </div>
  </div>
  <div class=row-fluid>
    <div class='span11 offset1 recs'>
      <h2><a href="{{ drink.url }}">GO DRINK</a></h2>
    </div>
  </div>
  <div class=row-fluid>
    <div class='span11 offset1 recs'>
      <h2><a href="{{ rents.url }}">TAKE OUT THE RENTS</a></h2>
    </div>
  </div>
  <div class=row-fluid>
    <div class='span11 offset1 recs'>
      <h2><a href="{{ volunteer.url }}">VOLUNTEER</a></h2>
    </div>
  </div>
  <div class=row-fluid>
    <div class='span11 offset1 recs'>
      <h2><a href="{{ winter.url }}">NOTHING ITS COLD</a></h2>
    </div>
  </div>
  <div class=row-fluid>
    <div class='span11 offset1 recs'>
      <h2><a href="/random">YOU TELL ME</a></h2>
    </div>
  </div>
</div>
{% endblock content %}
