{% extends 'base.html' %}
{% block content %}
<div class=center>
<div class=row>
  <div class='span6 offset6'>
    <h2> I WANT TO:</h2>
  </div>
</div>
<div class=row>
  <div class='span6 offset7'>
    <h2><a href="static/madison.html">VOLUNTEER</a></h2>
  </div>
</div>
<div class=row>
  <div class='span6 offset7'>
    <h2><a href="static/balloon.html">GO OUTDOORS</a></h2>
  </div>
</div>
<div class=row>
  <div class='span6 offset7'>
    <h2><a href="c/food">TAKE OUT THE PARENTS</a></h2>
  </div>
</div>
<div class=row>
  <div class='span6 offset7'>
    <h2><a href="c/drink">GO DRINK</a></h2>
  </div>
</div>
<div class=row>
  <div class='span6 offset7'>
    <h2><a href="c/all">YOU TELL ME</a></h2>
  </div>
</div>
</div>
{% endblock content %}
