{% extends 'base.html' %}
{% block content %}
<div class='row spacer'></div>
<div class="hero-unit main sug">
  <div class='home row-fluid'>
    <div class='span1 offset11'>
      <a href="/">HOME</a>
    </div>
 </div>
  <div class=row-fluid>
    <div class='span12'>
      <h3>WHY DON'T YOU {{ act.title|upper }}
      <a id=command href="{{ act.ex_url }}"> {{ act.name|upper }} </a></h3>
    </div>
  </div>
  <div class=row-fluid>
    <div class='span12  btnrow-fluid'>
        <a href="/static/commit.html" role="button" class="btn"
          data-toggle="modal">Yeah Bro</a>
        <a href="{{ next_act.url }}" role="button" id=no class="btn"
          data-toggle="modal">That looks awful</a>
      </div>
  </div>
  {% if act.address %}
  <div class='row-fluid datarow'>
    <div class='span4'>
      <h5> {{ act.address }} 
      </h5>
      {% if act.phone_num %}
      <h5> Phone: {{ act.phone_num }}
      </h5>
      {% endif %}
      {% if act.ex_url %}
      <p> More info <a href={{ act.ex_url }}> here </a></p>
      {% endif %}
    </div>
    <div class='span8'>
      <img src= {{ act.make_static_map }}>
    </div>
  </div>
  {% endif %}
  {% if act.phone_num %}
  <div class=row-fluid>

  </div>
  {% endif %}
</div>
</div>
{% endblock content %}
